@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700|Rubik:400,700&display=swap" rel="stylesheet");

body {
  background-color: #f4f6f6;
  font-family: 'Inconsolata', monospace;
}

h1, h2 {
  font-family: 'Rubik', sans-serif;
}

#profile-img {
  width: 100px;
  border-radius: 50%;
}

.button-blue {
  text-decoration: none;
  color: #f4f6f6;
  background-color: #1c2938;
  padding: 10px 25px;
  border-radius: 5px;
  transition: 0.2s;
}

.button-blue:hover {
  background-color: #63aabc;
  color: white;
}

.box-white {
  width: 1100px;
  margin: 10px auto;
  border-radius: 2px;
  background-color: #00818a;
  box-shadow: 0 10px 10px #cd3f3e;
  text-align: center;
  padding: 10px 20px;
  padding-bottom: 30px;
}

.list-inline {
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
  font-size: 25px;
  margin: 0px 10px;
}

.social-icon {
  color: #1c2938 ;
  transition: 0.2s;
}

.social-icon:hover {
  color: rgb(100,100,100);
}

.color-pink {
  color: #ff9c91;
}





